humanfriendly
ibm-cloud-sdk-core
ibm-platform-services
imageio
matplotlib
numpy
optuna
pandas
PennyLane
PennyLane_Lightning
pillow
pip
plotly
protobuf
pyarrow
pyportfolioopt
qiskit
qiskit_algorithms
qiskit-ibm-runtime
qiskit_machine_learning
requests
scikit_learn
scipy
torch
tqdm
urllib3
yfinance
